:root {
  --primarycolor: rgb(4, 4, 201);
  --whitecolor: white;
  --blackcolor: black;
  --greycolor: rgb(212, 209, 209);
  --lightbluecolor: lightblue;
  --yellowcolor: rgb(250, 199, 31);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: "nunito", sans-serif;
}
body {
  width: 100%;
  height: auto;
}
h2 {
  line-height: 1.5;
}
.navbar {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  padding: 1rem 2.5rem;
  z-index: 10;
  color: var(--whitecolor);
  background: transparent;
}
.navbar-logo > a {
  letter-spacing: 2.5;
  text-decoration: none;
  /* nav bar color change */
  color: var(--blackcolor);
}
.navebar-menu {
  width: 400px;
  display: flex;
  justify-content: space-between;
}
.navebar-menu > a {
  /* nav color change */
  color: var(--blackcolor);
  text-decoration: none;
}
.menu-toggle {
  display: none;
}
.menu-toggle .bar {
  width: 15px;
  height: 2px;
  margin: 3px auto;
  transition: all 0.3 ease-in-out;
  background-color: var(--whitecolor);
  cursor: pointer;
}
header {
  width: 100%;
  height: 600px;
  background-image: url("image/frontend.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  opacity: 0.8;
}
.header-title {
  position: absolute;
  top: 7rem;
  left: 3rem;
  letter-spacing: 3;
  font-weight: bolder;
  font-size: 52px;
  color: var(--whitecolor);
  text-shadow: 4px 2px 0px rgba(0, 0, 0, 0.2);
}
.header-title > span {
  color: var(--primarycolor);
}
.search-wrapper {
  width: 60%;
  margin: auto;
  min-width: 300px;
  height: 3.5rem;
  position: relative;
}
.search-box {
  width: 100%;
  position: absolute;
  background-color: var(--greycolor);
  box-shadow: 0px 5px 15px rgba(2, 11, 20, 0.2);
  top: -45%;
  height: 100%;
  width: 100%;
}
.search-card {
  display: flex;
  justify-content: space-between;
  height: 100%;
  padding: 0.5rem;
}
.search-input {
  height: 100%;
  width: 100%;
  border: none;
  padding: o.5rem;
}
.search-button {
  width: 200px;
  background-color: var(--primarycolor);
  border: none;
  color: var(--whitecolor);
  cursor: pointer;
}
.filter-box {
  width: 100%;
  height: auto;
  font-size: 0.5rem;
  width: 60%;
  min-width: 300px;
  margin: auto;
}
.filter-dropdown {
  width: 100%;
  border-bottom: 1px solid var(--lightbluecolor);
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 0.3rem;
}
.filter-select {
  border: none;
  padding: 0.2rem;
}
.filter-select:hover {
  background-color: var(--greycolor);
}
.filter-chosen {
  width: 100%;
  padding: 0.3rem 0;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}
.chosen-card {
  background-color: var(--greycolor);
  padding: 0.2rem 0.5rem;
  border-radius: 20px;
  color: var(--whitecolor);
  cursor: pointer;
}
.job-list {
  margin: 5%;
  padding: 1rem;
  background-color: var(--greycolor);
}
.job-card {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
  padding: 1rem;
  min-height: 100px;
  align-items: center;
  background-color: var(--whitecolor);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  cursor: pointer;
}
.job-card:hover {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.job-name {
  display: flex;
}
.job-profile {
  width: 60px;
  height: 60px;
  margin: 0.5rem;
}
.job-detail {
  padding: 0 10px;
}
.job-detail > h4 {
  color: var(--primarycolor);
  font-size: 0.9rem;
}
.job-detail > p {
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.job-lebel {
  display: flex;
  flex-wrap: wrap;
}
.job-lebel > a {
  padding: 0 1rem;
  margin: 0.2rem;
  color: var(--whitecolor);
  text-decoration: none;
  border-radius: 20px;
  font-size: 0.8rem;
}
.label-a {
  background-color: var(--yellowcolor);
}
.label-b {
  background-color: var(--primarycolor);
}
.label-c {
  background-color: var(--blackcolor);
}
.job-posted {
  font-size: 0.8rem;
}
.job-more {
  display: block;
  padding: 0.3rem 2rem;
  margin: 20px auto;
  width: 250px;
  background-color: transparent;
  color: var(--primarycolor);
  border: 1px solid var(--primarycolor);
  border-radius: 20px;
  cursor: pointer;
}
.job-more:hover {
  background-color: var(--primarycolor);
  color: var(--whitecolor);
}
.join {
  width: 100%;
  height: 350px;
  background-image: url("image/join.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* color: var(--whitecolor); */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1rem 3rem;
  align-items: center;
  position: relative;
}
.join ::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* opacity: 0.3; */
  /* background: linear-gradient(
      180deg,
      rgba(96, 135, 178, 0.6) 0%,
      rgba(108, 128, 150, 0.5) 100%
    ),
    linear-gradient(180deg, rgba(0, 122, 255, 0.65) 0%, transparent 100%);
  z-index: 1; */
}
.join-detail {
  max-width: 280px;
  width: 50%;
  z-index: 2;
  margin-bottom: 1rem;
}

.join-detail > h1 {
  font-size: 36px;
  letter-spacing: 2;
}

.join-button {
  width: 200px;
  padding: 1rem;
  border: none;
  color: var(--yellowcolor);
  background-color: var(--primarycolor);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 15px;
  z-index: 2;
  cursor: pointer;
  font-size: 20px;
}
.join-button:hover {
  background: transparent;
  border: 5px solid var(--yellowcolor);
  color: var(--yellowcolor);
  background-color: var(--primarycolor);
  font-size: 1rem;
}

.feature {
  width: 100%;
  height: auto;
  text-align: center;
  padding: 5rem 1rem;
  background-color: var(--greycolor);
}
.section-title {
  margin-bottom: 0.5rem;
  letter-spacing: 1.5;
  font-size: 36px;
}
.feature-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 2rem;
  align-items: center;
  width: 100%;
  padding: 2% 10%;
}

.feature-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  background-color: var(--whitecolor);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.feature-card:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.feature-image {
  height: 30px;
  margin-bottom: 0.2rem;
}
.feature-button {
  border: 1px solid var(--primarycolor);
  background-color: transparent;
  margin-top: 0.5rem;
  padding: 3px 10px;
  cursor: pointer;
  color: var(--primarycolor);
}
.feature-button:hover {
  background-color: var(--primarycolor);
  color: var(--whitecolor);
}

footer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  background-color: var(--primarycolor);
  color: var(--whitecolor);
  padding: 3rem;
}
.footer-wrapper {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  justify-content: flex-start;
  align-items: flex-start;
}
.footer-wrapper h3,
.footer-wrapperh h4 {
  line-height: 3;
  color: var(--yellowcolor);
}
.footer-wrapper p {
  max-width: 400px;
  line-height: 1.5;
}
.social-media {
  margin-top: 1rem;
}
.social-media a {
  text-decoration: none;
  color: var(--greycolor);
  margin-right: 10px;
}
.footer-wrapper a {
  text-decoration: none;
  color: var(--greycolor);
  line-height: 2;
}
.footer-wrapper:hover {
  text-decoration: underline;
}

/* media qurry or mobile screen */
@media screen and (max-width: 600px) {
  .menu-toggle,
  .bar {
    display: block;
    z-index: 3;
  }
  .menu-toggle.is-active.bar:nth-child(2) {
    opacity: 2;
  }
  .menu-toggle.is-active.bar:nth-child(1) {
    transform: translateY(5px) rotate(45deg);
  }
  .menu-toggle.is-active.bar:nth-child(3) {
    transform: translateY(-5px) rotate(-45deg);
  }
  .navebar-menu {
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    text-align: center;
    background-color: var(--blackcolor);
    display: none;
    padding: 5rem;
  }
  .navebar-menu.active {
    display: flex;
  }
  .navebar-menu a {
    color: var(--whitecolor);
    padding: 1.5rem;
  }
  .job-lebel {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  .job-posted {
    display: none;
  }
}
